.flex {
  align-items: center;
  display: flex;
}

.container {
  margin: 0 auto;

  @media (min-width: $screen-phone) {
    max-width: $screen-tablet;
    width: 90%;
  }

  @media (min-width: $screen-tablet) {
    max-width: $screen-desktop;
    width: 80%;
  }
}

.app {
  background-color: white;
  border-radius: 3px;
  box-shadow: -3px 6px 10px rgba(0, 0, 0, .3);
  height: 100vh;
  position: relative;
  text-align: center;

  @media(min-width: $screen-tablet) {
    height: calc(100vh - 2em);
    margin-top: 1em;
  }
}

.head {
  align-items: center;
  background-color: $gray-dark;
  background-image: linear-gradient(90deg, $primary, $gray-dark);
  color: $white;
  display: flex;
  height: 10vh;
  min-height: 48px;
  position: relative;
}

.content {
  display: flex;
  height: 90vh;
  position: relative;

  @media(min-width: $screen-tablet) {
    height: calc(90vh - 2em);
  }

  .left {
    background-color: $gray-dark;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateX(-100vw);
    transition: transform .6s cubic-bezier(.6, -.28, .74, .05);
    width: 100%;

    &.visible {
      transform: none;
    }

    @media(min-width: $screen-tablet) {
      flex-basis: 25%;
      position: static;
      transform: none;
    }
  }

  .right {
    display: flex;
    flex-grow: 1;
  }
}
