.flex {
  align-items: center;
  display: flex;

  &__col--1 {
    flex-basis: 30%;
    flex-grow: 1;
  }

  &__col--2 {
    flex-basis: 40%;
    flex-grow: 2;
  }
}

.container {
  margin: 0 auto;

  @media (min-width: $screen-phone) {
    max-width: $screen-tablet;
  }
}

.app {
  background-color: white;
  border-radius: 3px;
  box-shadow: -3px 6px 10px rgba(0, 0, 0, .3);
  height: 100vh;
  position: relative;
  text-align: center;

  @media(min-width: $screen-tablet) {
    height: calc(100vh - 2em);
    margin-top: 1em;
  }
}

.head {
  background-color: darken($primary-dark, 20%);
  background-image: linear-gradient(30deg, darken($primary-dark, 10%) , darken($primary-dark, 30%));
  color: #fff;
  height: 10vh;
}
