.logo {
  backface-visibility: hidden;
  color: $gray-darker;
  left: 50%;
  position: fixed;
  top: 0;
  transform: translateX(-50%);
  transition: color .7s ease-out;
  z-index: 9;

  @media (max-width: $screen-tablet) {
    display: none;
  }

  &.white {
    color: $white-base;
  }

  &__clickable {
    cursor: pointer;
    display: inline-block;
  }

  &__name,
  &__job {
    color: inherit;
    font-family: inherit;
    line-height: 1.2;
  }

  &__name {
    font-size: 1.125rem;
    margin-bottom: 0;
    margin-top: 1em;

    a {
      color: inherit;

      &::before {
        display: none;
      }
    }
  }

  &__job {
    font-size: 1rem;
    font-weight: 700;
    margin-top: 0;
  }
}

.case .logo {
  color: $gray-darker;
}
