{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
<div class="app">
  <div class="head">
    {% include 'includes/head.html' %}
  </div>

  <div class="content">
    <div class="left">

    </div>
    <div class="right">
       <div class="chat" style="height: 500px"> <!-- TODO: write JS for responsive height -->
         {% include 'includes/chat.html' %}
       </div>
    </div>
  </div>
</div>
{% endblock %}
