// Colors
$primary-dark: #59617B;
$primary: #696996;
$accent: #8bc34a;


$gray: #727272;
$gray-dark: #212121;
$gray-light: #b6b6b6;
$white-opacity: rgba(#fff, .54);

$text: #fff;
$error: red;

// Media queries breakpoints
$screen-phone: 480px;
$screen-tablet: 768px;
$screen-desktop: 992px;
$screen-lg-desktop: 1200px;
