.chat {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .chatee {
    align-items: center;
    border-bottom: 1px solid rgba($gray-light, .4);
    display: flex;
    padding: 1.5rem 1rem;

    &__avatar {
      @include avatar;
      border-color: $accent;
    }

    &__name {
      font-weight: normal;
      padding-left: .625rem;
    }
  }

  .msgs {
    flex-grow: 1;
    overflow: auto;
  }

  .msg {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0 1em;

    li {
      border-radius: 2px;
      margin-bottom: 5px;
      padding: .725em 1em;
    }
  }

  .msg--received li {
    align-self: flex-start;
    background-color: rgba($gray-light, .1);
    border: 1px solid rgba($gray-light, .4);
    text-align: left;
  }

  .msg--sent li {
    align-self: flex-end;
    background-color: rgba($primary, .1);
    border: 1px solid rgba($primary, .15);
    text-align: right;
  }

  .box {
    display: flex;
    flex-shrink: 0; //Fix for older Chrome versions: to be sure that it will not shrink when .msgs overflows
    height: 3.125rem;
    margin-top: auto;
    text-align: left;
    width: 100%;

    &__input {
      background-color: darken($gray-dark, 5%);
      border: 0;
      color: $gray-light;
      flex-grow: 1;
      padding: 1em;
    }

    &__input:focus {
      outline: none;
    }

    button {
      background-color: $primary;
      border: 0;
      color: #fff;
      font-size: 1.2em;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-weight: 600;
      height: 100%;
      width: 100px;
    }
  }
}
