.nav {
  padding-left: 1em;
  text-align: left;
}

.title {

  h1 {
    font-size: 1.5em;
    line-height: 10vh;
  }
}

.account {
  padding-right: 1em;
  padding-top: 1.3em;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;

  .sign {
    cursor: pointer;
  }
}
