.people-list {
  list-style-type: none;
  padding-left: 1rem;
}

.person {
  align-items: center;
  display: flex;
  margin-bottom: 1em;

  &__avatar {
    @include avatar;
    border-color: rgba($gray, .3);
  }

  &--chatee &__avatar {
    border-color: $accent;
  }

  &-details {
    padding-left: .625rem;
    text-align: left;
  }

  &__name,
  &__status {
    display: block;
  }

  &__name {
    color: $white-opacity;
    font-weight: 400;
  }

}
