.people-list {
  list-style-type: none;
  padding-left: 0;
}

.person {
  align-items: center;
  cursor: pointer;
  display: flex;
  padding-bottom: .5em;
  padding-left: 1rem;
  padding-top: .5rem;
  transition: background-color .5s ease-out;

  &:hover {
    background-color: rgba($gray-light, .05);
  }

  &__avatar {
    @include avatar;
    border-color: rgba($gray, .3);
  }

  &--chatee &__avatar {
    border-color: $accent;
  }

  &-details {
    padding-left: .625rem;
    text-align: left;
  }

  &__name,
  &__status {
    display: block;
  }

  &__name {
    color: $white-opacity;
    font-weight: 400;
  }

}
